html {
  font-size: 110.5%;
}

body {
  margin: 0;
  font: 300 'Helvetica Neue', 'sans-serif';
    background: #022c43;
    display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#poster {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

#movieContainer {
  border: solid;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  background-color:#2e6985;
  color:#E1FCFD;
}

#reviewBox {
  text-align: center;
  align-content: center;
  justify-content: center;
  
}

.btn {
  border-radius: 10px;
  border: none;
}

.btn:hover {
  transform: translateY(-2px)
}

input,
text {
  color: black;
  font-weight: 400;
}

